*{
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}
html{
    font-size: 62.5%;
    background-color: rgb(238, 247, 255);
}

.container{
    width: 100%;
    position: relative;
    
}
.navbar{
    width: 100%;
    height: 6rem;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: #fff;
    position: fixed;
    z-index: 5;
}
.left-side{
    margin-left: 3rem;
    display: flex;
    font-size: 4rem;
    flex-flow: row;
    float: left;
    align-items: center;
}
.sidebar-icon{
    margin-right: 1rem;
}
.sidebar-icon a{
    color: #000;
}

.logo{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 2rem;
    color: red;
}
.logo span{
    color: #000;
}
.middle{
    margin:auto;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 4rem; 
    position: relative;
}
.search input{
    width: 50rem;
    border-radius: 3rem;
    border: .1rem solid #000;
    padding-left: 2rem;
    font-size: 3rem;
    margin-right: 2rem;
}
.searchIcon {
    position: absolute;
    font-size: 3rem;
    color: rgb(158, 157, 157);
    top: .9rem;
    left: 46rem;
}
.icon{
    margin: auto;
    font-size: 3rem;
    margin-right: 2rem;
    color: rgb(87, 87, 87);
}

.right-side{
    display: flex;
    float: right;
    font-size: 4rem;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
}
.videoIcon{
    font-size: 3rem;
    position: relative;
}
.videoIcon span i{
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 1.2rem;
    left: 0.3rem;
}

.icon:hover{
    cursor: pointer;
    color: red;
}
.img-profile{
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;


}
.img-profile img {
    width: 100%;
    height: inherit;
    border: .1rem solid #000;
    border-radius: 50%;
    object-fit: cover;
}



/* aside  left*/
.asidebar{
    position: fixed;
    top:6rem;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 6rem;
    z-index: 5;
    font-size: 3rem;
    background-color: rgb(255, 255, 255);
}
.change .asidebar{
    width: 26rem;
    height: 100vh;
}

.short-sidebar{
    display: flex;
    margin-top: 3rem;
}

.gernal-icons{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: 2rem;
    align-items: center;
    text-align: center;
}
.hiddin-bar{
    display: none;
}

.change .hiddin-bar{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.hiddin-bar ul li {
    margin-bottom: 1rem;
    cursor: pointer;
    color: rgb(87, 87, 87);
}
.hiddin-bar ul li:hover{
    color: red;
}
.gernal-icons .icon{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.globe{
    position: relative;
}
.globeIcon{
    color: #000;
    position: absolute;
    font-size: 1.5rem;
    top: 1.9rem;
    left: .7rem;

}
.sub{
    display: none;
}
.change .sub{
    display: block;
    margin-top: 2rem;
    margin-left: 1rem;
    text-transform: uppercase;
    font-size: 3rem;
}
.follower-name{
    display: none;
}
.change .follower-name{
    display: block;
    margin-top: 1.5rem;
}
.change .follower-name ul li {
    margin-bottom: 2rem;
}

.imgDiv{
    width: 4rem;
    height: 4rem;
    margin:1.2rem 1.5rem;
}

.imgDiv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.change aside .followers {
    margin-top: 1rem;
}





/* middle container */
.middle-container{
    position: relative;
    top: 8rem;
    left: 8rem;
    width: calc(100% - 65rem);
    margin-top: 4rem;
}
.middle-container1{
    position: relative;
    top: 8rem;
    left: 8rem;
    width: calc(100% - 65rem);
}

/* video section */
.video-section{
    width: 100%;
    height: 83rem;
    /* border: .1rem solid #000; */

}
.video-wrapper{
    width: 100%;
    height: fit-content;
}
.video-wrapper video{
    width: 100%;
    height: auto;
}

.video-details{
    margin-top: .5rem;
    position: relative;
}
.highlights{
    color: blue;
    font-size: 1.5rem;
}
.video-name{
    margin-top: .5rem;
    font-size: 3rem;
}
.video-discription{
    display: flex;
    float: left;
    font-size: 2rem;
    margin-top: .9rem;
    justify-content: space-between;
    color: rgb(87, 87, 87);
    border-bottom: .1rem solid #000;
    width: 100%;

}
.video-icon{
    position: absolute;
    right: 1rem;
    top: 8.5rem;
    font-size: 2rem;
    color: rgb(87, 87, 87);

}
.video-icon i:hover{
    color: red;
    cursor: pointer;
}
.space{
    margin-right: 1.5rem;
}



/* Subscription section */

.channel-details{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    position: relative;
}
.channel-name{
    margin-left: 2rem;
    font-size: 1.5rem;
}
.channel-name h3{
    color: rgb(87, 87, 87);
    line-height: 1rem;
    font-size: 1.3rem;
}
.button-holder{
    position: absolute;
    right: 2rem;
    top: 1rem;
}
.sub-button{
    width: 14rem;
    height: 4rem;
    border: none;
    background-color: red;
    border-radius: .5rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    position: relative;
}
.sub-button::before{
    position: absolute;
    left: 0;
    top: 0;
    content: attr(data-content);
    width: 14rem;
    height: 4rem;
    border: none;
    border-radius: .5rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    background-color: rgb(87, 87, 87);
    opacity: 0;
    visibility: hidden;
}
.sub-button:active::before{
    opacity: 1;
    visibility: visible;  
}
.channel-text{
    color: rgb(87, 87, 87);
    margin-top: 3rem;
    margin-left: 9rem;
    line-height: 4rem;
    font-size: 1.5rem;
    border-bottom: .1rem solid rgb(199, 198, 198);
}

/* comment section */
.comments{
    width: 100%;
    margin-top: 1rem;
    margin-left: 9rem;
    font-size: 1.5rem;
    color: rgb(87, 87, 87);
}
.comments h2{
    color: #000;
}
.comment-tage{
    margin-top: 1rem;
    margin-left: 1rem;
    width: calc(100% - 10rem);
   
}
.ur-comment-tage{
    display: flex;
    width: 100%;
    align-items: center;
}
.ur-comment-tage .img-profile{
    margin-top: 3rem;
}
.ur-comment-tage input{
    margin-left: 2rem;
    border: none;
    font-size: 2rem;
    padding: 2rem 0 0 1rem;
    border-bottom: .1rem solid rgb(199, 198, 198);
    background-color: rgb(238, 247, 255);
    width: 90%;
}

.response{
    margin-top: 4rem;
    display: flex;
}
.response .img-profile{
    width: 9rem;
    height: fit-content;
}
.comment-details{
    margin-left: 2rem;
}
.name-date{
    display: flex;
    color: #000;
    font-size: 1.8rem;
}
.name-date h2{
    margin-top: 1.2rem;
    margin-left: 1.5rem;
    font-size: 1.4rem;
    color: rgb(87, 87, 87);
}
.comment-holder{
    margin-top: 1rem;
    font-size: 1.9rem;
    font-weight: 200;

}
.comment-icons{
    font-size: 2rem;
    cursor: pointer;
}
.comment-icons:hover{
    color: red;
}
.replies{
    color: blue;
}

/* aside right content */
.right-content{
    position: absolute;
    right: 3rem;
    top: 8rem;
    /* border: .1rem solid #000; */
    width: 50rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content-wrapper{
    display: flex;
    width: 100%;
    height: 12rem;
    margin-bottom: 2rem;
}
.img-wrapper{
    width: 25rem;
    height: 100%;
    margin-bottom: 1rem;
}

.img-wrapper img{
    position: relative;
    top: 0;
    border-radius: .5rem;
    width: 100%;
    height: 100%;
}
.content-name{
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
.img-content{
    margin-left: 0;
    margin-right: 1rem;
}
.content-details{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: serif;
    font-weight: 100;
    color: rgb(136, 136, 136);
    line-height: 2rem;
}




@media (max-width:1800px) {
    .video-section{
        height: 75rem;
    }
}
@media (max-width:1700px) {
    .video-section{
        height: 70rem;
    }
}
@media (max-width:1550px) {
    .video-section{
        height: 60rem;
    }
}
@media (max-width:1450px) {
    .middle-container1{
        width: 90%;
        height: inherit;
    }
    .subscribtion{
        position: relative;
        margin-top: 32rem; 
    }
    .right-content{
        top: 100rem;
    }

}
@media (max-width:1300px) {
    .subscribtion{
        position: relative;
        margin-top: 24rem; 
    }
    .right-content{
        top: 92rem;
    }

}

@media (max-width:1150px) {
    .subscribtion{
        position: relative;
        margin-top: 12rem; 
    }
    .right-content{
        top: 80rem;
    }

}
@media (max-width:1150px) {
    .middle-container{
        width: 80%;
    }

    .right-content{
        top: 15rem;
        left: 25%;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


}

@media (max-width:1000px) {

    .subscribtion{
        position: relative;
        margin-top: 12rem; 
        
    }
    .right-content{
        position: relative;
        align-items: center;
        top: 15rem;
        margin-left: 6rem;

    }
    .logo span{
        display: none;
    }
    .videoIcon{
        display: none;
    }
}


@media (max-width:900px) {
    .subscribtion{
        position: relative;
        margin-top: 0;
        
    }

    .right-content{
        margin: auto;
        position: relative;
        left: 10rem;
        width: 90%;
    }
    .comments{
        display: none;
    }
    
}

@media (max-width:650px) {
    .subscribtion{
        position: relative;
        margin-top: 0;
        
    }
    .middle-container1{
        width: 70%;
    }
    .right-content{
        display: none
    }


}


